# API Keys
Data/api_keys.txt

# Databases
Data/*.db
Data/*.db-journal*
Data/*.sqlite
Data/*.sqlite3
Data/databases/

# Logs
Data/*.log
Data/logs/

# Raw Datas
Data/*.xlsx
Data/*.csv
Data/raw_excels/

# Save Files
Data/save[0-9]*.txt

# IDE Config
.idea/